<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482383448329-vft27j5ke4oqc6biaem6gudmjlv2681r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482383448329-vft27j5ke4oqc6biaem6gudmjlv2681r</string>
	<key>API_KEY</key>
	<string>AIzaSyCzZe6pJ0PGnTmmSCwOo9Fi_2_FS076e0M</string>
	<key>GCM_SENDER_ID</key>
	<string>482383448329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.realtime</string>
	<key>PROJECT_ID</key>
	<string>esp32-firebase-demo-4b148</string>
	<key>STORAGE_BUCKET</key>
	<string>esp32-firebase-demo-4b148.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482383448329:ios:d889e796eb79f56574ebd8</string>
	<key>DATABASE_URL</key>
	<string>https://esp32-firebase-demo-4b148-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>